{
    "plugins": [
        "@shufo/prettier-plugin-blade"
    ],
    "overrides": [
        {
            "files": [
                "*.blade.php"
            ],
            "options": {
                "parser": "blade",
                "tabWidth": 4,
                "printWidth": 80,
                "singleQuote": true,
                "wrapAttributesMinAttrs": 0,
                "wrapAttributes": "force",
                "sortHtmlAttributes": "alphabetical",
                "sortTailwindcssClasses": true,
                "noPhpSyntaxCheck": false,
                "indentInnerHtml": true,
                "trailingCommaPHP": true,
                "componentPrefix": "x-,livewire:",
                "phpVersion": "8.4"
            }
        }
    ]
}
