{
  "printWidth": 80,
  "tabWidth": 4,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "arrowParens": "always",
  "plugins": ["@shufo/prettier-plugin-blade"],
  "overrides": [
    {
      "files": "*.blade.php",
      "options": {
        "parser": "blade",
        "singleAttributePerLine": true,
        "wrapAttributes": "force-expand-multiline"
      }
    }
  ]
}
